
$background-color: #252525;
$text-color: darkgrey;

.button {
  position:relative;
  padding:0;
  width:8rem;
  height:3.5rem;
  
  border:4px solid black;
  outline:none;
  background-color:$background-color;
  border-radius: 20px;
  transition: .13s ease-in-out;
  cursor:pointer;

  &.red {
    background-color: darkred;
  }

  .button__content{
      font-size: 1.2rem;
      color:$text-color;
      font-weight: bold;
  }
}