@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

$background-color: #252525;
$text-color: darkgrey;

body{
    margin:0;
    padding:0;
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    background-color:$background-color;
    color:$text-color;
    font-family:'Roboto Slab'; 
    height: 100%;
    width: 100%;
   
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        &.medium {
            width: 50%;
        }

        &.column {
            flex-direction: column;
        }

        &.row {
            flex-direction: row;
        }

        &.wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: left;
        }

        &.justify_content {
            justify-content: space-between;
        }

        &.center{
            align-items: center;
        }

        &.margin_left_1_5{
            margin-left: 1.5rem;
        }

        &.margin_top_15{
            margin-top: 15rem;
        }

        &.offset_top_1_5{
            margin-top: 1.5rem;
        }

        &.offset_left_1_5{
            margin-left: 1.5rem;
        }
    }

    @media (max-width: 300px)  {
        .row{
            flex-direction: column;
        }        
    }

}

