$base-color: rgb(66, 70, 69);
$secondary-color: rgb(205, 205, 205);
$frame-color: rgb(161, 161, 161);


div.auth-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 6rem;
    margin: 7rem auto;
    width: 80%;
    color: $secondary-color;
    border: 1rem solid $frame-color;
    background-color: $base-color;

    .header {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    .header:hover{
        animation-duration: 1s;
        animation-name: welcome_animation_start;
    }
    .form {
        margin-top: 2rem;
        margin-bottom: 2rem;
        
        .input-area {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 2rem;
            input {
                width: 30rem;
                padding: 0.8rem;
                border-radius: 1rem;
            }
            input:focus{
                outline: none !important;
            }
        }

        .buttons{
            display: flex;
            align-items: center;
            button {
                width: 10rem;
                margin: 1rem 3rem;
                padding: 1rem 2rem;
                border-radius: 1rem;
                background-color: $frame-color;
            }
            button:focus {
                outline: none !important;
            }
        }
    }
}

@keyframes welcome_animation_start {
    from {
        color: $secondary-color
    }
    to {
        color: $frame-color
    }
}

